{
  "mail": "informatyzacja@samorzad.pwr.edu.pl",
  "password": "",
  "host": "student.pwr.edu.pl",
  "port": 587,
  "mails_txt_file": "mails.txt",
  "mails_json_file": "mails.json",
  "subject": "Informatyzacja mailbot test",
  "mail_template": "mail_template.txt",
  "confirm_link": "https://ewidencjamaili.samorzad.pwr.edu.pl/confirm?uuid="
}
