Drogi użytkowniku o adresie mailowym {mail},

aby potwierdzić korzystanie ze skrzynki samorządowej, kliknij w poniższy link:

{confirm_link}

Możesz też odpowiedzieć na tę wiadomość.

Brak aktywności do {date}, skutkuje rozpoczęciem procesu dezaktywacji konta.

--
Ze studenckimi pozdrowieniami
Komisja ds. Informatyzacji
Samorząd Studencki Politechniki Wrocławskiej
