Drogi użytkowniku o adresie mailowym {mail},

aby potwierdzić korzystanie ze skrzynki samorządowej, kliknij w poniższy link:

{confirm_link}

Możesz też odpowiedzieć na tę wiadomość.

Brak aktywności do {date}, skutkuje rozpoczęciem procesu dezaktywacji konta.

Uwaga!
Jeśli podany adres e-mail nie należy do ciebie (np. doszedł z powodu automatycznego przekierowania ze wspólnej skrzynki),
to wiadomość nie dotyczy twojego prywatnego adresu e-mail, tylko tego podanego powyżej.

--
Ze studenckimi pozdrowieniami
Komisja ds. Informatyzacji
Samorząd Studencki Politechniki Wrocławskiej
